<h1>My movie inspiration lists <i class="fas fa-film"></i></h1>
<ul class="list-group">
  <% @lists.each do |list| %>
  <li class="list-group-item">
  <i class="far fa-list-alt"></i> - <%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create new list', new_list_path, class:"btn btn-primary mt-2"%>
