<h1>Lists#index</h1>
<ul class="list-group">
  <% @lists.each do |list| %>
  <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to 'Create new list', new_list_path %>
