<h1>Bookmarks#new</h1>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Create a new list", class: "btn btn-primary" %>
<% end %>
